.container{
    width: auto;
    margin:auto;
    background: white;
    padding: auto;
    border-radius: auto;
}
h1{
    color: rgb(232, 235, 240);

}

h2{
    color:rgb(1, 19, 19);

}
p{
    color: rgb(5, 3, 3);
}
li{
    color: rgb(12, 16, 16);
}
.main{
    position: relative;
    padding: 10px;
    background-color: navy;
    text-align: center;
    
}
a{
    color: black;
}
h4{
    color: black;
}
a{
    text-decoration: none;
   
}
a:hover{
    color: purple;
}
.image{
    position:fixed;
    top:0px;
    height: 40px;
    width: 30px;
    margin-left: 550px;

}